.contant-1-Parent{
    display: flex;
    background: black;
    width: 100%;
    height: 1063px;
    position: relative;
}
.contant-1-txt{
    position: absolute;
    left: 260px;
    bottom: 165px;
    font-size: 83px;
    color: #5adb5a;
    font-family: fantasy;
    text-transform: uppercase;
}

.aboutus-parent{
    position: relative;
    display: flex;
    background: black;
    width: 100%;
    height: 1093.32px;
    gap: 318px;
}


.slider-parent{
    display: flex;
    background: #000000;
    overflow: hidden;
    width: 100%;
    height: 316px;
    border-top-right-radius: 3.75rem;
    border-top-left-radius: 3.75rem;
}
.slider-parent2{
    display: flex;
    background: black;
    overflow: hidden;
    width: 100%;
    height: 316px;
    border-top-right-radius: 3.75rem;
    border-top-left-radius: 3.75rem;
}

.slider-txt{
    display: flex;
    position: relative;
    font-size: 8.375rem;
    font-weight: 100;
    text-transform: uppercase;
    color: #c9ae1e;
    -webkit-text-stroke-width: 0.1px;
    font-family: fantasy;
    white-space: nowrap;
    padding: 0 2.66rem;
    letter-spacing: 1px;
    animation: move-rtl 6000ms linear infinite;
    flex-wrap: wrap;
    align-content: center;
    
}

.slider-divider-dot {
    background: darkgoldenrod;
    position: absolute;
    right: -17px;
    top: 44%;
    border-radius: 50%;
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

@keyframes move-rtl{
    0%{
        transform: translateX(0);

    }
    100%{
        transform: translateX(-100%);
    }
}

.slider-txt2{
    display: flex;
    position: relative;
    font-size: 8.375rem;
    font-weight: 100;
    text-transform: uppercase;
    color: #5adb5a;
    -webkit-text-stroke-width: 0.1px;
    font-family: fantasy;
    white-space: nowrap;
    padding: 0 2.66rem;
    letter-spacing: 1px;
    animation: move-rtl 6000ms linear infinite;
    flex-wrap: wrap;
    align-content: center;
}

.slider-divider-dot2{
    background: #ffe249;
    position: absolute;
    right: -17px;
    top: 44%;
    border-radius: 50%;
    display: inline-block;
    width: 2rem;
    height: 2rem;
}



.aboutus-txt{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    margin-left: 175px;
    margin-top: 68px;
    letter-spacing: -.0475rem;
    color: #c9ae1e;
    font-family: Thunder, sans-serif;
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 2.6;
}


.aboutusImg{
    width: 451px;
    height: 451px;
    align-self: center;
}
.aboutus-wc{
    text-transform: uppercase;
    position: absolute;
    top: 23px;
    left: 0px;
    color: #c9ae1e;
    -webkit-animation: colorchange3 1.5s infinite alternate;
}
.fillgap-aboutus{
    width: 100%;
    position: absolute;
    bottom: -400px;
    height: 400px;
    background: black;
    z-index: -1;
}

@-webkit-keyframes colorchange3 {
    0% {
      
      color: #c9ae1e;
    }
    
    
    100% {
    
        color: #443000;
    }
  }










  