
.wcParent{
    display: flex;
    justify-content: center;
    width: 675px;
    height: 699px;
    margin-bottom: 330px;
    margin-left: 252px;
    color: white;
    padding-top: 132px;
}
.wcTxt{
    font-size: 102px;
    color: #585858;
    line-height: 133px;
    font-family: fantasy;
    -webkit-animation:colorchange2 5s infinite alternate;
}
@-webkit-keyframes colorchange2 {
    0% {
      
      color: #eee8aa;
    }
    
    /* 10% {
      
      color: #418DCD;
    }
    
    20% {
      
      color: #418DCD;
    }
    
    30% {
      
      color: #418DCD;
    }
    
    40% {
      
      color: #03965B;
    }
    
    50% {
      
      color: #03965B;
    }
    
    60% {
      
      color: #545C5E;
    }
    
    70% {
      
      color: #545C5E;
    }
    80% {
   
      color: #03965B;
    }
    
    90% {
   
      color: #03965B;
    } */
    
    100% {
    
        color: #eee8aa06;
    }
  }
.wcTxtSpan{
    color: goldenrod;
    font-family: fantasy;
}

.wcTxtSpanSecure{
    font-family: fantasy;
    
}

.wcTxtSpanTrading{
    font-family: fantasy;
    padding-left: 57px;
    
}

.wcTxtSpanSolutions{
    font-family: fantasy;
    padding-left: 108px;

}